@model IEnumerable<Web_ASM_Nhom6.Models.Product>




<div class="container-fluid col-md-12 row">
    <div class="col-md-2">
        <form method="get" action="@Url.Action("Index", "Product")" onsubmit="saveFormValues(event)">
            <div class="col-md-12 mt-3 p-3 bg-body-secondary">
                <input class="col-md-12 mt-3" type="text" id="search" name="search" placeholder="Tìm kiếm sản phẩm" />
                <button class="btn btn-secondary col-md-12 mt-3" onclick="search()">Tìm kiếm</button>
            </div>
            <div class="col-md-12 mt-3 p-3 bg-body-secondary">
                <input class="col-md-5" type="number" id="minPrice" name="minPrice" placeholder="Thấp" step="1" value="" />
                <label for="maxPrice">Đến</label>
                <input class="col-md-5" type="number" id="maxPrice" name="maxPrice" placeholder="Cao" step="1" value="" />
                <button class="btn btn-secondary col-md-12 mt-3" type="submit">Tìm</button>
                <button class="btn btn-secondary col-md-12 mt-3" onclick="resetPrice()">Reset Giá</button>


            </div>
        </form>
    </div>


    <div class="col-md-10">


        <div id="carouselexamplecaptions" class="carousel col-md-12 row">
            <div class="carousel-inner row">
                <div class="carousel-item active">
                    <div class="col-md-12 row m-5">
                        @foreach (var item in Model.Take(15))
                        {
                            <div class="col-md-2 mt-3 p-2 m-3 row bg-body-secondary">
                                <img class="m-auto" src="@Html.DisplayFor(modelitem => item.Image)" alt="alternate text" width="220px" height="150px" />
                                <a class="btn btn-danger-subtle text-left" style="max-width: 300px; min-height: 100px" href="#">@Html.DisplayFor(modelitem => item.Name)</a>
                                <span class="text-right mb-2">@Html.DisplayFor(modelitem => item.Price)0 đ</span>
                                <a class="btn btn-outline-danger" style="max-width: 210px" href="#">đặt hàng</a>
                            </div>
                        }
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="col-md-12 row m-auto">
                        @foreach (var item in Model.Skip(15).Take(30))
                        {
                            <div class="col-md-2 mt-3 p-2 m-3 row bg-body-secondary">
                                <img class="m-auto" src="@Html.DisplayFor(modelitem => item.Image)" alt="alternate text" width="220px" height="150px" />
                                <a class="btn btn-danger-subtle text-left" style="max-width: 300px; min-height: 100px" href="#">@Html.DisplayFor(modelitem => item.Name)</a>
                                <span class="text-right mb-2">@Html.DisplayFor(modelitem => item.Price)0 đ</span>
                                <a class="btn btn-outline-danger" style="max-width: 210px" href="#">đặt hàng</a>
                            </div>
                        }
                    </div>
                </div>
                <div class="carousel-item bg-secondary">
                    <div class="col-md-12 bg-secondary row m-auto">
                        @foreach (var item in Model.Skip(30).Take(45))
                        {
                            <div class="col-md-2 mt-3 p-2 m-3 row bg-body-secondary">
                                <img class="m-auto" src="@Html.DisplayFor(modelitem => item.Image)" alt="alternate text" width="220px" height="150px" />
                                <a class="btn btn-danger-subtle text-left" style="max-width: 300px; min-height: 100px" href="#">@Html.DisplayFor(modelitem => item.Name)</a>
                                <span class="text-right mb-2">@Html.DisplayFor(modelitem => item.Price)0 đ</span>
                                <a class="btn btn-outline-danger" style="max-width: 210px" href="#">đặt hàng</a>
                            </div>
                        }
                    </div>
                </div>
                <div class="carousel-item bg-secondary">
                </div>
                <div class="carousel-item bg-secondary">
                </div>
            </div>

            <div class="carousel col-md-12 mt-3">
                <button class="carousel-control-prev bg-danger" type="button" data-bs-target="#carouselexamplecaptions" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">previous</span>
                </button>
                <div class="m-auto text-center">
                    <button class="border-0 m-2" type="button" data-bs-target="#carouselexamplecaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="slide 1">1</button>
                    <button class="border-0 m-2" type="button" data-bs-target="#carouselexamplecaptions" data-bs-slide-to="1" aria-label="slide 2">2</button>
                    <button class="border-0 m-2" type="button" data-bs-target="#carouselexamplecaptions" data-bs-slide-to="2" aria-label="slide 3">3</button>
                    <button class="border-0 m-2" type="button" data-bs-target="#carouselexamplecaptions" data-bs-slide-to="3" aria-label="slide 4">4</button>
                    <button class="border-0 m-2" type="button" data-bs-target="#carouselexamplecaptions" data-bs-slide-to="4" aria-label="slide 5">5</button>
                </div>
                <button class="carousel-control-next bg-danger" type="button" data-bs-target="#carouselexamplecaptions" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">next</span>
                </button>
            </div>

        </div>


    </div>
</div>


<script>
    // Function to save input values in local storage
    function saveFormValues(event) {
        event.preventDefault();

        var minPriceInput = document.getElementById("minPrice");
        var maxPriceInput = document.getElementById("maxPrice");

        localStorage.setItem("minPriceValue", minPriceInput.value);
        localStorage.setItem("maxPriceValue", maxPriceInput.value);

        event.target.submit();
    }

    // Function to retrieve and set input values from local storage
    function setFormValues() {
        var minPriceInput = document.getElementById("minPrice");
        var maxPriceInput = document.getElementById("maxPrice");

        var minPriceValue = localStorage.getItem("minPriceValue");
        var maxPriceValue = localStorage.getItem("maxPriceValue");

        minPriceInput.value = minPriceValue;
        maxPriceInput.value = maxPriceValue;
    }

    // Function to reset price inputs to null
    function resetPrice() {
        var minPriceInput = document.getElementById("minPrice");
        var maxPriceInput = document.getElementById("maxPrice");

        minPriceInput.value = null;
        maxPriceInput.value = null;

        localStorage.removeItem("minPriceValue");
        localStorage.removeItem("maxPriceValue");
    }

    // Function to perform search
    function search() {
        var minPriceInput = document.getElementById("minPrice").value;
        var maxPriceInput = document.getElementById("maxPrice").value;
        var searchTermInput = document.getElementById("searchTerm").value;

        // Perform the search based on the input values
        // Replace the code below with your search logic

        var searchUrl = "@Url.Action("Search", "Product")";
        searchUrl += "?minPrice=" + minPriceInput + "&maxPrice=" + maxPriceInput + "&search=" + searchTermInput;

        // Redirect to the search URL
        window.location.href = searchUrl;
    }

    setFormValues();
</script>